<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>
<p>
  <strong>Icon URL:</strong>
  <%= @skill.iconUrl %>
</p>
<p>
  <strong>Use in Wordcloud:</strong>
  <%= @skill.useInWordcloud %>
</p>

<%= link_to 'Back', skills_path %>